// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


input[type=text] {
    width: 50%;
    padding: 12px 12px;
    border: 2px solid #FDB5B5;
    background-color: #CFF5FE;
    top: -20px;
    left: 20px;
}

textarea{
    width: 100%;
    height: 200px;
    padding: 12px 12px;
    border: 2px solid #FDB5B5;
    background-color: #F9ECFF;
}
        
input[type=button], input[type=submit] {
    background-color: #C093FF;
    float: right;
    border: none;
    color: white;
    padding: 16px 20px;
    text-decoration: none;
}
        

//Table
table {
    font-family: Georgia, serif;
     table-layout: auto;
     width: 100%;
     white-space: nowrap;
     position: relative;
}
td {
     white-space: normal;
     //overflow: scroll;
     //text-overflow: ellipsis;
}

/* Column widths are based on these cells */
.row-concern {
     width: 10%;
}
.row-location {
     width: 20%;
}
.row-descrip {
     width: 30%;
}
.row-email {
     width: 20%;
}

th {
     background: #fac5cc;
     color: white;
     text-align: center;
     padding: 5px 10px;
}
td {
     text-align: left;
     padding: 5px 10px;
}

tr:nth-child(even) {
     background: #ffffff;
}
